:root {
  font-family: "微軟正黑體", Arial, Inter, system-ui, Avenir, Helvetica,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner .el-loading-spinner {
  top: unset !important;
}
.spinner .el-loading-spinner .circular {
  width: 200px !important;
  height: 200px !important;
}
.spinner .el-loading-spinner .circular .path {
  stroke: gold !important;
}

.el-loading-text {
  font-size: 48px !important;
  color: gold !important;
}
